.confirm__content {
    max-width: 1230px;
    margin: 0 auto;
    text-align: center;
    color: #76554c;
}

.confirm__header {
    margin: 30px auto;
}

.confirm__header-title {
    font-family: "Lora", serif;
    font-size: 30px;
    font-weight: lighter;
}

.confirm-table {
    width: 70%;
    margin: 0 auto;
}

.confirm-table__inner {
    width: 100%;
    border: 1px solid #dbcbc7;
    text-align: left;
}

.confirm-table__row {
    border-bottom: 1px solid #dbcbc7;
}

.confirm-table__row:last-child {
    border-bottom-width: 0;
}

.confirm-table__header {
    width: 30%;
    background: #c3b1ac;
    border-right: 1px solid #dbcbc7;
    padding: 5px 50px;
    color: #fff;
}

.confirm-table__item {
    width: 60%;
}

.confirm-table__item-name,
.confirm-table__item-gender,
.confirm-table__item-email,
.confirm-table__item-tel,
.confirm-table__item-address,
.confirm-table__item-building,
.confirm-table__item-category {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    padding: 5px 40px;
    color: #76554c;
}

.confirm-table__item-detail {
    width: 100%;
    height: 80px;
    border: none;
    outline: none;
    padding: 5px 40px;
    color: #76554c;
    resize: none;
    white-space: normal;
    word-break: break-word;
}

.confirm__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin: 30px auto;
}

.confirm__form {
    width: 40%;
}

.confirm__button-send {
    width: 100%;
    height: 40px;
    background: #896e67;
    border: none;
    color: #fff;
    font-size: 18px;
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;
}

.confirm__button-edit {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    text-decoration: underline #76554c solid 1px;
    color: #76554c;
    font-size: 18px;
    cursor: pointer;
}