.contact-form__content {
    max-width: 1230px;
    margin: 0 auto;
    text-align: center;
    color: #76554c;
}

.contact-form__header {
    margin: 30px auto;
}

.contact-form__header-title {
    font-family: "Lora", serif;
    font-size: 30px;
    font-weight: lighter;
}

.form {
    width: 70%;
    margin: 0 auto;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.form__group--not-required {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.form__group-title {
    display: flex;
}

.form__label--item {
    padding-right: 5px;
}

.form__label--required {
    color: #ff5c60;
}

.form__group-content {
    width: 70%;
    text-align: left;
}

.form__input {
    width: 100%;
    display: flex;
    align-items: center;
}

.form__error {
    height: 20px;
    text-align: left;
    color: #ff0000;
}

.form__input-group {
    width: 45%;
}

.form__input-group:first-of-type {
    margin-right: 10%;
}

.form__input-name {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background: #f5f5f5;
    color: #76554c;
}

.form__input-item {
    margin-right: 60px;
    cursor: pointer;
}

.form__input-gender {
    display: none;
}

.form__input-text {
    position: relative;
    padding-left: 26px;
}

.form__input-text::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 18px;
    height: 18px;
    border: 1px solid #76554c;
    border-radius: 50%;
    transform: translateY(-50%);
}

.form__input-text::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 18px;
    height: 18px;
    background: #76554c;
    border-radius: 50%;
    transform: translateY(-50%);
    opacity: 0;
}

.form__input-gender:checked + .form__input-text::after {
    opacity: 1;
}

.form__input-email,
.form__input-address,
.form__input-building {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background: #f5f5f5;
    font-family: "Lora", serif;
    color: #76554c;
}

.form__input-tel {
    width: 30%;
    height: 40px;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 3px;
    background: #f5f5f5;
    color: #76554c;
}

.tel-separator {
    margin: 0 2.5%;
}

.form__select {
    width: 70%;
    text-align: left;
}

.form__select-wrapper {
    position: relative;
    width: 50%;
}

.form__select-wrapper::after {
    content: "▼";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: rgba(118, 85, 76, 0.4);
    font-size: 18px;
}

.form__select-content {
    width: 100%;
    height: 40px;
    padding: 10px;
    padding-right: 30px;
    border: none;
    border-radius: 3px;
    background: #f5f5f5;
    color: rgba(118, 85, 76, 0.4);
    appearance: none;
}

.option-list {
    color: #76554c;
}

.form__text-detail {
    width: 100%;
    height: 130px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background: #f5f5f5;
    color: #76554c;
}

.form__button {
    width: 20%;
    margin: 10px auto;
}

.form__button-submit {
    width: 100%;
    height: 45px;
    background: #896e67;
    border: none;
    color: #fff;
    font-size: 18px;
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;
}