.thanks__wrapper {
    position: relative;
    max-width: 1230px;
    margin: 0 auto;
    text-align: center;
}

.thanks__wrapper::before {
    position: absolute;
    content:"Thank you";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    font-size: 17vw;
    white-space: nowrap;
    line-height: 1;
    color: #f2f2f2;
    opacity: 0.6;
    font-family: "Lora", serif;
}

.thanks__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.thanks__header {
    margin-bottom: 50px;
}

.thanks__header-title {
    font-size: 30px;
    color: #76554c;
}

.thanks__button {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    width: 150px;
    height: 50px;
    background: #896e67;
    color: #fff;
    font-size: 18px;
    border-radius: 2px;
    padding: 10px;
    cursor: pointer;
}